*{
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

nav ul {
    list-style: none;
    display: flex;
    margin-top: auto;
}

nav ul li {
    margin: 0 15px;
}
