<header>
    <nav>
        <h1>Codar.</h1>
        <ul class="menu">
            <li>Início</li>
            <li>Serviços</li>
            <li>Contato</li>
            <button>Login</button>
        </ul>
    </nav>
</header>

<section>
    <div class="header">
        <img class="header-image" src="./assets/video_call.png" alt="chamada de video">
        <div class="header-content">
            <p>Alavanque seu negócio com um</p>
            <h1>Website incrível</h1>
            <button class="orcamento">Solicitar orçamento</button>
        </div>
    </div>
</section>

<section>
    <div class="secao2">
        <img src="./assets/coding_.png" alt="">
        <div class="secao2-content">
            <ul>
                <li>
                    <i class="fas fa-check-circle"></i>Domínio personalizado</li>
                <li>
                    <i class="fas fa-check-circle"></i>Hospedagem</li>
                <li>
                    <i class="fas fa-check-circle"></i>Site responsivo</li>
                <li>
                    <i class="fas fa-check-circle"></i>Redes sociais</li>
                <li>
                    <i class="fas fa-check-circle"></i>chat online</li>
                <li>
                    <i class="fas fa-check-circle"></i>blog integrado</li>
            </ul>
        </div>
        <br>
        <div class="secao2-contato">
            <h5>Nossa equipe está à disposição</h5>
            <input type="tel" placeholder="  Celular (11)xxxxx-xxxx">
            <button>Ligamos para você</button>
        </div>
    </div>
</section>

<section class="feedbacks">
    <div class="card">
        <div class="foto"></div>
        <div class="texto">
            <p>Já tive experiências com outras 4 empresas da área e a Codar é sem sombra de dúvidas superior em todos os aspectos.</p>
            <br>
            <h4>Pedro Ferreira</h4>
            <h5>Construtora Minari</h5>
        </div>
    </div>

    <div class="card">
        <div class="foto"></div>
        <div class="texto">
            <p>Processos bem simples e criação de um site exatamente como a minha escola queria !</p>
            <br>
            <h4>Maria Rita</h4>
            <h5>Escola Criança Feliz</h5>
        </div>
    </div>
</section>

<footer class="foot">
    <div class="foot-content">

        <div class="foot-codar">
            <h2>Codar.</h2>
            <p>criamos Websites incríveis</p>
        </div>

        <div class="foot-sobre">
            <h3>Sobre</h3>
            <p>Amamos criar soluções</p>
            <p>e entregar sites incríveis</p>
        </div>

        <div class="foot-contato">
            <h3>Contato</h3>
            <p>123 Av. Manjar - Nárnia</p>
            <p>+55 96 2321-3131</p>
            <p>contato@codar.com</p>
        </div>

        <div class="foot-social">
            <h3>Redes Sociais</h3>
            <i id="icones" class="fab fa-facebook-square"></i>
            <i id="icones" class="fab fa-instagram"></i>
            <i id="icones" class="fab fa-twitter-square"></i>
        </div>

    </div>
</footer>